{% extends 'base.html.twig' %}

{% block title %}Mettre à jour le permis{% endblock %}

{% block body %}
    {% if not app.user or 'ROLE_ADMIN' not in app.user.roles %}
        <div class="alert alert-danger" role="alert">
            Vous n'avez pas les droits d'accéder à cette page.
        </div>
    {% else %}
    <h2>Mettre à jour le permis</h2>
    {{ form_start(form, {'method': 'POST'}) }}
        

        <button type="submit">Update</button>
    {{ form_end(form) }}
    
    <a href="{{ path('app_permisliste') }}">list</a>
{% endblock %}
