   <footer>
           <div class="footIframe">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2627.6851332319093!2d2.3446135769759042!3d48.80698777132531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67171eb7abebb%3A0xf7f5a86814a88233!2s135%20Rue%20Gabriel%20P%C3%A9ri%2C%2094270%20Le%20Kremlin-Bic%C3%AAtre!5e0!3m2!1sfr!2sfr!4v1706861821512!5m2!1sfr!2sfr" width="150" height="96" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>
            <div class="iconFooter"> 
                <div >
                    <div >
                        <i class="fab fa-facebook" style="font-size: 20px; margin-right:30px;"></i>
                        <i class="fab fa-instagram" style="font-size: 20px;"></i>
                    </div>
                    <div class="iconFooter1">
                        <i class="fab fa-twitter" style="font-size: 20px; margin-right:30px;"></i>
                        <i class="fab fa-tiktok" style="font-size: 20px;"></i>
                    </div>
                </div>
            </div>
           <div class="contact">
             <h5>135 Rue Gabriel Péri le Kremlin-Bicêtre</h5>
             <p>Batment Louis du Bois, apt A33, allée TomSon</p>
             <p>Phone:014545323228</p>
             <p>Fixe:014545323228</p>
           </div>
           
   </footer>
  {% block body %}
  {% endblock %}
  </body>
</html>