{% if not app.user or 'ROLE_ADMIN' not in app.user.roles %}
    <div class="alert alert-danger" role="alert">
        Vous n'avez pas les droits d'accéder à cette page.
    </div>
{% else %}
<form method="post" action="{{ path('app_creneaux_delete', {'id': creneaux.id}) }}" onsubmit="return confirm('Are you sure you want to delete this creneau?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ creneaux.id) }}">
    <button class="btn">Delete</button>
</form>
{% endif %}



