{% extends 'base.html.twig' %}

{% block title %}Modifier Creneaux{% endblock %}

{% block body %}
{% if not app.user or 'ROLE_ADMIN' not in app.user.roles %%}
        <div class="alert alert-danger" role="alert">
            Vous n'avez pas les droits d'accéder à cette page.
        </div>
{% else %}
    <div class="editGenerale">
        <h4>Modifier Creneaux</h4>

        {{ form_start(form, {'method': 'POST'}) }}

        <button type="submit" class="btnUpdate">Update</button>

        {{ form_end(form) }}

        <div class="deleteFormContainer">
            {{ include('creneaux/_delete_form.html.twig') }}
        </div>

        <a class="btnEdit" href="{{ path('app_creneaux_index') }}"><span>&#128412;</span>List</a>
    </div>
     {% include 'footer.html.twig' %}
    {% endif %}
{% endblock %}
