
{% if not app.user or 'ROLE_ADMIN' not in app.user.roles %}
        <div class="alert alert-danger" role="alert">
            Vous n'avez pas les droits d'accéder à cette page.
        </div>
{% else %}
<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirmDelete();">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn" type="submit">Delete</button>
</form>
{% endif %}


